Musicalog/Connected Services/CatalogServiceClient/CatalogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62718/CatalogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatalogService.Models" />
  <xs:element name="GetAlbumRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatalogService.Models" minOccurs="0" name="GetAlbumRecordResult" nillable="true" type="q1:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbumRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatalogService.Models" minOccurs="0" name="albumRecord" nillable="true" type="q2:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbumRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAlbumRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumCatalog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatalogService.Models" minOccurs="0" name="GetAlbumCatalogResult" nillable="true" type="q3:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAlbumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatalogService.Models" minOccurs="0" name="emp" nillable="true" type="q4:Album" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAlbumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>