Musicalog/Connected Services/CatalogServiceClient/CatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62718/CatalogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62718/CatalogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62718/CatalogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatalogService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogService_GetAlbumRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumRecord" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAlbumRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_AddAlbumRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlbumRecord" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_AddAlbumRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlbumRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAlbumCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumCatalog" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAlbumCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_DeleteAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlbum" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_DeleteAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_UpdateAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlbum" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_UpdateAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogService">
    <wsdl:operation name="GetAlbumRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/GetAlbumRecord" message="tns:ICatalogService_GetAlbumRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/GetAlbumRecordResponse" message="tns:ICatalogService_GetAlbumRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlbumRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/AddAlbumRecord" message="tns:ICatalogService_AddAlbumRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/AddAlbumRecordResponse" message="tns:ICatalogService_AddAlbumRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/GetAlbumCatalog" message="tns:ICatalogService_GetAlbumCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/GetAlbumCatalogResponse" message="tns:ICatalogService_GetAlbumCatalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/DeleteAlbum" message="tns:ICatalogService_DeleteAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/DeleteAlbumResponse" message="tns:ICatalogService_DeleteAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/UpdateAlbum" message="tns:ICatalogService_UpdateAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/UpdateAlbumResponse" message="tns:ICatalogService_UpdateAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogService" type="tns:ICatalogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlbumRecord">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/GetAlbumRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlbumRecord">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/AddAlbumRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumCatalog">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/GetAlbumCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/DeleteAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/UpdateAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogService">
    <wsdl:port name="BasicHttpBinding_ICatalogService" binding="tns:BasicHttpBinding_ICatalogService">
      <soap:address location="http://localhost:62718/CatalogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>